@import '~@angular/material/theming';
@import '../../variables.scss';

.edit-item {
  align-items: center;
  background: rgba(0,0,0,0.7);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &__form {
    background: #fff;
    border-radius: 7px;
    margin: 0 auto;
    padding: 50px 100px;
    position: relative;
  }
}

.close {
  align-items: center;
  display: flex;
  font-size: 22px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: 0.3s;

  &__icon {
    font-size: 36px;
    height: 36px;
    width: 36px;
  }

  &:hover {
    color: mat-color($red);
    transition: 0.3s;
  }
}

.form-header {
  display: flex;
  font-size: 22px;
  justify-content: center;
  text-transform: uppercase;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: relative;

  &__label {
    color: grey;
    font-size: 16px;
    left: 12px;
    position: absolute;
    text-transform: uppercase;
    top: 4px;
    transition: 0.3s;
    z-index: 0;
  }

  &__input {
    background: transparent;
    border: 1px solid;
    border-color:  mat-color($underline);
    border-radius: 7px;
    font-size: 16px;
    outline: none;
    padding: 5px 10px;
    transition: border-color 0.5s;
    width: 500px;
    z-index: 1;

    &:focus {
      border-color: mat-color($font-color);
      transition: border-color 0.5s;

      & + label {
        color: mat-color($font-color);
        font-size: 10px;
        top: -20px;
        transition: 0.3s;
      }
    }

    &:valid {
      background: #fff;

      & + label {
        color: mat-color($font-color);
        font-size: 10px;
        top: -20px;
      }
    }
  }

  &__datepicker {
    position: absolute;
    right: 0;
    top: -6px;
    z-index:10
  }
}

.form-submit {
  background: $yellow;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 30px;
  padding: 7px 30px;

  &:hover {
    background: darken($color: $yellow, $amount: 10);
  }

  &:active {
    background: darken($color: $yellow, $amount: 20);
  }

  &:disabled {
    background: lightgrey;
    cursor: default;
  }
}
