@import '~@angular/material/theming';
@import '../variables.scss';

$side-width: 300px;
$header-height: 50px;

.wrapper {
  display: flex;
  margin-top: $header-height;
  width: 100%;
}

.header {
  background: $yellow;
  box-sizing: border-box;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  left: 0;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.sidemenu {
  background: mat-color($side);
  height: calc(100vh - #{$header-height});
  left: 0;
  position: fixed;
  top: 40px;
  width: $side-width;
}

.main {
  background: mat-color($main);
  box-sizing: border-box;
  min-height: calc(100vh - #{$header-height});
  padding: 50px 120px;
  position: absolute;
  right: 0;
  top: 40px;
  width: calc(100% - #{$side-width});
}

.todo-buttons {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 100%;

  &__button {
    align-items: center;
    display: flex;
    padding: 0;
    position: relative;
    right: 5px;
    transition: 0.3s;

    &:after {
      content: "Add new item";
      font-family: 'Segoe UI';
      font-size: 16px;
      left: 0;
      opacity: 0;
      position: relative;
      transition: 0.3s;
    }

    &:hover {
      color: $yellow;
      transition: 0.3s;

      &:after {
        color: #212121;
        opacity: 1;
        left: 18px;
        transition: 0.3s;
      }
    }
  }
}

.todo-filters {
  &__field {
    margin-left: 20px;
    width: 100px;
  }
}

.no-items {
  color: grey;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
}
