@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Segoe UI',
);

@include mat-core($custom-typography);

body { color: mat-color($font-color); margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  background: transparent;
  border: 0;
  color: mat-color($font-color);
  cursor: pointer;
  outline: none;
}